@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #202023;
    --foreground: #ededed;
  }

  :root[class~="light"] {
    --background: #f0e7db;
    --foreground: #171717;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: DeepSeek-CJK-patch, Inter, system-ui, -apple-system;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0 2rem 0 2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in;
  }

  .animate-slide-up {
    animation: slideUp 0.5s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@font-face {
  font-family: 'simpleLetter';
  src: url('../assets/fonts/simpleLetter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;  /* This helps with performance */
}